<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Heros</title>
</head>
<body class="bg-dark text-light" id="vapp">
    <div class="container mt-4">
        <h2 class="display-3">BTS Heros</h2>
        <!-- v-model is a directive -->
        <select v-model="heroSelect" class="form-select">
            <option selected value="">Choose your favourite hero</option>
            <option >RM</option>
            <option >Jin</option>
            <option >Jungkook</option>
            <option >Jimin</option>
            <option >V</option>
            <option >J-hope</option>
            <option >Suga</option>
        </select>
        <h2 class="btn btn-warning mt-3">calling, {{heroSelect}}</h2>

        <h2 class="display-3">BTS Team</h2>
        <!-- v-model is a directive -->
        <select v-model="btsSelect" multiple class="form-select">
            <option selected value="">Choose multiple heros - hold shift key</option>
            <option value="Kim Namjoon">RM</option>
            <option value="Kim Seokjin">Jin</option>
            <option value="Jeon Jeongguk">Jungkook</option>
            <option value="Park Jimin">Jimin</option>
            <option value="Kim Taehyung">V</option>
            <option value="Jung Hoseok">J-hope</option>
            <option value="Min Yoongi">Suga</option>
        </select>
        <h2 class="btn btn-warning mt-3">A team, {{btsSelect}}</h2>


        <h2 class="display-3">BTS Vocal Team</h2>
        <!-- v-model is a directive -->
        <select v-model="myDynamic" class="form-select">
            <option selected value="">Choose vocal hero</option>
            <option v-for="option in myVocals"
            :value="option.value">{{option.text}}</option>
        </select>
        <h2 class="btn btn-warning mt-3">Vocal hero choosen is {{myDynamic}}</h2>

    </div>
    
    <script src="./script.js"></script>
</body>
</html>